.Dashboard-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Credential-Header {
  text-align: center;
}

.Credential-Form-Container {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 400px;
  padding: 30px;
  background-color: #d3d3d3f3;
  border-radius: 5px;
  z-index: 9999;
}

.Credential-Form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.Credential-Form input {
  height: 50px;
  padding-left: 12px;
  border-radius: 10px;
  outline: 1px solid grey;
  border: none;
  font-size: 14px;
}

.close:hover {
  cursor: pointer;
  opacity: 0.75;
}

.Credential-Form button {
  height: 40px;
  width: 80%;
  align-self: center;
  border-radius: 10px;
  border: none;
  outline: 0.5px solid grey;
}

button:hover {
  opacity: 0.6;
}

.Clipboard {
  position: absolute;
  margin: auto;
  left: 85%;
}

.Emoji-List {
  display: flex;
  list-style: none;
  justify-content: space-around;
  padding: 0;
}

.Emoji-List li {
  font-size: 35px;
}

.Emoji-List li:hover {
  cursor: pointer;
  filter: brightness(0.6);
}

.Clipboard:hover {
  cursor: pointer;
  opacity: 0.25;
}

.Copied {
  color: green;
}

.Darken-Input {
  background-color: #00e1ff1f;
}

.Dashboard-Map {
  width: 65vw;
  background-color: #e3e3e366;
  margin-top: 12px;
  border-radius: 5px;
  min-width: 1250px;
}

.Dashboard-Title {
  display: flex;
  justify-content: space-evenly;
}

.Cred-Row {
  display: flex;
}

h3 {
  text-align: center;
}

h4 {
  font-size: 25px;
  margin: 15px;
}

.Cred-List {
  padding: 0px;
  min-height: 28px;
}

.Cred-List-Input {
  list-style: none;
  padding: 0px;
  text-align: left;
  margin-bottom: 15px;
}

.Cred-Button {
  padding: 0px 40px;
  border: none;
  outline: 0.5px solid rgb(206, 206, 206);
  outline-style: dashed;
}

/* #Removed {
} */

.Class li {
  text-align: center !important;
}

.Dashboard-Buttons {
  display: flex;
  gap: 10px;
}

.Dashboard-Select {
  background-color: #b9000070;
  border-radius: 5px;
  padding-left: 5px;
}

/* Spinner */
.lds-ring {
  display: inline-block;
  position: absolute;
  width: 80px;
  height: 80px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 40vh;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #b90000;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #b90000 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
