.Dashboard-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Credential-Header {
  text-align: center;
}

.Credential-Form-Container {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 400px;
  padding: 30px;
  background-color: #d3d3d3f3;
  border-radius: 5px;
  z-index: 9999;
}

.Credential-Form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.Credential-Form input {
  height: 50px;
  padding-left: 12px;
  border-radius: 10px;
  outline: 1px solid grey;
  border: none;
  font-size: 14px;
}

.close:hover {
  cursor: pointer;
  opacity: 0.75;
}

.Credential-Form button {
  height: 40px;
  width: 80%;
  align-self: center;
  border-radius: 10px;
  border: none;
  outline: 0.5px solid grey;
}

button:hover {
  opacity: 0.6;
}

.Clipboard {
  position: absolute;
  margin: auto;
  left: 85%;
}

.Emoji-List {
  display: flex;
  list-style: none;
  justify-content: space-around;
  padding: 0;
}

.Emoji-List li {
  font-size: 35px;
}

.Emoji-List li:hover {
  cursor: pointer;
  filter: brightness(0.6);
}

.Clipboard:hover {
  cursor: pointer;
  opacity: 0.25;
}

.Copied {
  color: green;
}

.Darken-Input {
  background-color: #00e1ff1f;
}

.Dashboard-Map {
  width: 65vw;
  background-color: #e3e3e366;
  margin-top: 8px;
  border-radius: 5px;
}

.Dashboard-Title {
  display: flex;
  justify-content: space-evenly;
}

.Cred-Row {
  display: flex;
}

h3 {
  text-align: center;
}

h4 {
  font-size: 2vw;
  margin: 15px;
}

.Cred-List {
  padding: 0px;
  min-height: 28px;
}

.Cred-List-Input {
  list-style: none;
  padding: 0px;
  text-align: left;
  margin-bottom: 15px;
}

.Cred-Button {
  padding: 0px 40px;
  border: none;
  outline: 0.5px solid rgb(206, 206, 206);
  outline-style: dashed;
}

/* #Removed {
} */

.Class li {
  text-align: center !important;
}

.Dashboard-Buttons {
  display: flex;
  gap: 10px;
}

.Dashboard-Select {
  background-color: #b9000070;
  border-radius: 5px;
  padding-left: 5px;
}
