.Landing-Container {
  position: absolute;
  height: 85vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.typing-demo {
  width: 30.5ch;
  animation: typing 2s steps(30), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-size: 2em;
  margin-bottom: 0px;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.Landing-Button {
  height: 45px;
  width: 275px;
  border-radius: 25px;
  border: none;
  outline: 0.5px solid #bebebe;
  background: #b90000;
  background: -moz-linear-gradient(left, #b90000 0%, #961f1f 51%, #7c2822 100%);
  background: -webkit-linear-gradient(
    left,
    #b90000 0%,
    #961f1f 51%,
    #7c2822 100%
  );
  background: linear-gradient(to right, #b90000 0%, #961f1f 51%, #7c2822 100%);
  color: white;
}

.Landing-Button:hover {
  filter: brightness(1.2);
  transition: 0.5s ease-in-out;
  outline: 1px solid rgb(138, 116, 116);
}

img:hover {
  opacity: 0.6;
}

.Landing-Buttons {
  display: flex;
  gap: 10px;
}
