.Landing-Container {
  width: 100%;
  color: white;
}

.landing-svg {
  position: absolute;
  z-index: -1;
}

.clip {
  position: absolute;
  clip-path: polygon(100% 0, 0 0, 0 100%);
  background-color: white;
  z-index: 2;
}
