.navbar-container {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
  height: 7vh;
  align-items: center;
  border-bottom: 1px solid rgba(235, 235, 235, 0.411);
}

.nav-options {
  display: flex;
  gap: 20px;
}

.nav-logo {
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 2.5px;
}

.nav-options li:hover {
  color: rgb(223, 223, 223);
}
